.input-field input{
  color:#DDD;
}

/* label color */
.input-field label {
    color: #AAA;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #DDD;
  }
  /* underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #FFF;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #4caf50;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #f44336;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }