<html>

<head>
    <title>AI UI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/latest/semantic.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='css/document.css') }}>

    <style>
        .me {
            background-image: url("img/main_background.jpg");
        }

        @media print {
            body {
                /* transform: scale(0.8); */
                /* position: absolute !important;
                top: 0 !important;
                left: 0 !important; */
            }
            .me {
                height: 100%;
            }
            thead, tr { page-break-inside : avoid }
            h2 { page-break-after : avoid }
        }
        @page {
                size: 21cm 29.7cm;
                orphans:4; 
                widows:2;
            }
    </style>
</head>
<!--<img style="width:1300;height=1839;display:block;margin:0 auto" src="""main_background.jpg" alt="Main Page" >-->
<body contenteditable="true">
<div id="dome" class="me">
    <div id="tile" class="me1">
        <nav class="me2">
            Test Script
        </nav>

        <nav class="me3">
            INTERNAL
        </nav>

        <nav class="me2">
            SAP S/4HANA
        </nav>
        <nav class="me2">
            {{date}}

        </nav>
        <nav class="me4">
            {{ title }}
        </nav>


    </div>
    <img class="me5" src={{url_for('static',filename='img/SAP_LOGO.png') }} alt="SAP" width="90" height="45">
</div>
<div class="ui container">
    <br />
    <h1 class="ui huge header">{{ title }}</h1>
    <div class="sub header">
        <p>{{ description }}</p>
    </div>
    <div class="ui divider"></div>


    <br />
    <h2 class="ui header">Overview</h2>
    <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="single line">Section</th>
                <th>Credentials</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for section, steps in sections.items()%}
            <tr>
                <td>{{ section }}</td>
                <td>--</td>
                <td>
                    -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h2 class="ui header">Roles and Support</h2>
    <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="single line">App</th>
                <th>User</th>
                <th>Role</th>
                <th>Component</th>
            </tr>
        </thead>
        <tbody>
            {% for app in prereq %}
            <tr>
                <td>
                    <select name="" class="ui selection dropdown">
                        {% if app[0] is not string %}
                            {% for opt in app[0] %}
                    <option value={opt}>{{opt}}</option>
                    {% endfor %}
                    
                    {% else %}
                    <option value=app[0]>{{app[0]}}</option>
                    {% endif %}
                </select>
            </td>
            <td>
                    <select name="" class="ui selection dropdown">
                            {% if app[1] is not string %}
                            {% for opt in app[1] %}
                    <option value={opt}>{{opt}}</option>
                    {% endfor %}
                    {% else %}
                    <option value=app[0]>{{app[1]}}</option>
                    {% endif %}
                </select>
            </td>
            <td>
                    <select name="" class="ui selection dropdown">
                    {% if app[2] is not string %}
                    {% for opt in app[2] %}
                    <option value={opt}>{{opt}}</option>
                    {% endfor %}
                    {% else %}
                    <option value=app[0]>{{app[2]}}</option>
                    {% endif %}
                </select>
            </td>
            <td>
                    <select name="" class="ui selection dropdown">
                            {% if app[3] is not string %}
                            {% for opt in app[3] %}
                    <option value={opt}>{{opt}}</option>
                    {% endfor %}
                    {% else %}
                    <option value=app[0]>{{app[3]}}</option>
                    {% endif %}
                </select>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="ui divider"></div>
    <br />

    <h1 class="ui header">Test Procedures</h1>
    {% for section, steps in sections.items() %}
    <h2>{{section}}</h2>
    <table class="ui celled padded table">
        <thead>
            <tr>
                <th class="single line">Step</th>
                <th>Actions</th>
                <th>Expected Results</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for step in steps%}
            <tr>
                <td>
                    <h2 class="ui center aligned medium header">{{ loop.index }}</h2>
                </td>
                <td>
                    <div class="ui ordered list">
                        {{  step[0]  }}<br>
                    </div>
                </td>

                <td>
                    <div class="ui ordered list">
                        {{  step[1]  }}<br>

                    </div>
                </td>

                <td>
                    <div class="ui warning message">
                        <div class="header">
                            You can add warnings here!
                        </div>
                        Warning content
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <div class="ui divider"></div>

    <h2 class="ui header">Important Disclaimers and Legal Information</h2>
    <div class="ui small header">Coding Samples</div>
    Any software coding and/or code lines / strings ("Code") included in this documentation are only examples and are not
    intended to be used in a productive system environment.
    The Code is only intended to better explain and visualize the syntax and phrasing rules of certain coding. SAP does not
    warrant the correctness and completeness of the Code given herein, and SAP shall not be liable for errors or damages
    caused by the usage of the Code, unless damages were caused by SAP intentionally or by SAP's gross negligence.

    <div class="ui small header">Gender-Neutral Language</div>
    As far as possible, SAP documentation is gender neutral. Depending on the context, the reader is addressed directly with
    "you", or a gender-neutral noun (such as "sales person" or "working days") is used. If when referring to members of both
    sexes, however, the third-person singular cannot be avoided or a gender-neutral noun does not exist, SAP reserves the
    right to use the masculine form of the noun and pronoun.
    This is to ensure that the documentation remains comprehensible.

    <div class="ui small header">Internet Hyperlinks</div>
    The SAP documentation may contain hyperlinks to the Internet. These hyperlinks are intended to serve as a hint about
    where to find related information. SAP does not warrant the availability and correctness of this related information or
    the ability of this information to serve a particular purpose. SAP shall not be liable for any damages caused by the use
    of related information unless damages have been caused by SAP's gross negligence or willful misconduct.
    All links are categorized for transparency (see: https://help.sap.com/viewer/disclaimer).
    </div>
    <br>
    <br>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
</body>

</html>