{% extends "base.html" %}
{% block container %}

<title>Upload new File</title>
<div class="row">
  <div class="col s12">
    <form action="{{ url_for('.upload') }}" method=post enctype=multipart/form-data> <div
      class="card blue-grey darken-2 card">
      <div class="card-content white-text">
        <span class="yellow-text text-darken-2 card-title">Upload a .xml File</span>

        <div class="file-field input-field">
          <div class="yellow darken-3 btn">
            <span class="black-text">S4C XML</span>
            <input type="file" name="file" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <select name="template">
              <option value="1" selected>Template 1</option>
              <option value="2">Template 2</option>
            </select>
            <label>Select a template</label>
          </div>

          <div class="input-field col s6">
            <select name="lang">
              <option value="en" selected>English</option>
              <option value="ar">Arabic</option>
              <option value="bg">Bulgarian</option>
              <option value="ca">Catalan</option>
              <option value="zh">Chinese (Simplified)</option>
              <option value="zf">Chinese (Traditional)</option>
              <option value="hr">Croatian</option>
              <option value="cs">Czech</option>
              <option value="da">Danish</option>
              <option value="nl">Dutch</option>
              <option value="et">Estonian</option>
              <option value="fi">Finnish</option>
              <option value="fr">French (France)</option>
              <option value="de">German</option>
              <option value="el">Greek</option>
              <option value="he">Hebrew</option>
              <option value="hi">Hindi</option>
              <option value="hu">Hungarian</option>
              <option value="it">Italian</option>
              <option value="ja">Japanese</option>
              <option value="kk">Kazakh</option>
              <option value="ko">Korean</option>
              <option value="lv">Latvian</option>
              <option value="lt">Lithuanian</option>
              <option value="ms">Malay</option>
              <option value="no">Norwegian</option>
              <option value="pl">Polish</option>
              <option value="pt">Portuguese (Brazil)</option>
              <option value="ro">Romanian</option>
              <option value="ru">Russian</option>
              <option value="sh">Serbian (Latin)</option>
              <option value="sk">Slovak</option>
              <option value="sl">Slovenian</option>
              <option value="es">Spanish (Spain)</option>
              <option value="sv">Swedish</option>
              <option value="th">Thai</option>
              <option value="tr">Turkish</option>
              <option value="uk">Ukrainian</option>
              <option value="vi">Vietnamese</option>
            </select>
            <label>Select a language</label>
          </div>
        </div>
        <div class="row">

          <p>
            <label>
              <input type="checkbox" value='localize' />
              <span>Localize</span>
            </label>
          </p>

        </div>
        <div class="localize">
          <div class="row">
            <div class="input-field col s6">
              <select name="base_country">
                <option value="" disabled selected>Pick Countries</option>
                {% for c in countries %}
                <option value={{c}}>{{c}}</option>
                {% endfor %}
              </select>
              <label>Base Country</label>
            </div>
            <div class="input-field col s6">

              <select name="dest_country">
                <option value="" disabled selected>Pick Countries</option>
                {% for c in countries %}
                <option value={{c}}>{{c}}</option>
                {% endfor %}
              </select>
              <label>Localize To</label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-action">
        <input value="submit" type="submit" class="yellow darken-3 white-text waves-effect btn">
      </div>
  </div>
  </form>
</div>
</div>

{% endblock %}